---
import MainLayout from '@/layouts/MainLayout.astro';
import { Image } from 'astro:assets';

const backgrounds = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/backgrounds/*',
);

const resolvedBgs = await Promise.all(
  Object.values(backgrounds).map((image) => image().then((mod) => mod.default)),
);

resolvedBgs.sort(() => Math.random() - 0.5);
---

<MainLayout>
  {resolvedBgs.map((bg) => <Image src={bg} alt="test" />)}
  <h1>Astro</h1>
</MainLayout>
