---
import MainLayout from '@/layouts/MainLayout.astro';
import Background from '@/components/Background.astro';
import Bread from '@/components/Bread.astro';
---

<MainLayout>
  <Background />
  <div class="z-20 relative container">
    <Bread />
  </div>
</MainLayout>
