---
import MainLayout from '@/layouts/MainLayout.astro';
import Background from '@/components/Background.astro';
import Bread from '@/components/Bread.astro';
import Gallery from '@/components/Gallery.astro';
---

<MainLayout>
  <Background />
  <div
    class="z-20 relative container min-h-screen flex flex-col justify-between">
    <Bread />
    <a
      href="#gallery"
      class="bg-dark rounded-t-md shadow text-subtitle max-w-fit px-10 py-2 text-light font-barlow hover:py-3 transition-all duration-100">
      Gallery
    </a>
  </div>
  <Gallery />
</MainLayout>
