<div class="bg-glass/40 max-w-fit p-10 backdrop-blur-lg rounded-b-md shadow">
  <p class="font-semibold mb-3">T&T Photography</p>
  <h1 class="font-barlow text-title font-medium mb-8">
    Capturing Nature's<br />Masterpieces
  </h1>
  <p class="max-w-[48ch] pretty mb-8">
    Get notified when we're open for commissions and explore a curated selection
    of our favorite photographs below.
  </p>
  <form class="flex w-full gap-2">
    <input
      id="email"
      type="email"
      aria-label="Enter your email"
      placeholder="Enter your email"
      class="p-3 rounded-md grow bg-glass/30 backdrop-blur-xl focus:outline-none hover:ring-2 focus-within:ring-2 ring-dark focus:placeholder-transparent"
    />
    <button
      type="reset"
      class="bg-dark py-3 px-5 text-light rounded-md hover:bg-dark/75 active:scale-105"
      >Sign up</button
    >
  </form>
</div>
