---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*');

const resolvedImages = await Promise.all(
  Object.values(images).map((image) => image().then((mod) => mod.default)),
);

resolvedImages.sort(() => Math.random() - 0.5);
---

<section
  id="gallery-container"
  class="z-20 relative py-10 backdrop-blur-lg rounded-tr-md shadow bg-dark">
  <div class="sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5">
    {
      resolvedImages.map((image) => {
        const mobile = image.width / 6;
        const desktop = image.width / 8;

        return (
          <Image
            src={image}
            alt=""
            quality="mid"
            class="rounded-md mb-4"
            widths={[mobile, desktop]}
            sizes={`(max-width: 600px) ${mobile}px, ${desktop}px`}
          />
        );
      })
    }
  </div>
</section>
