---
import '@/styles/global.css';
import { ViewTransitions } from 'astro:transitions';
---

<html class="scroll-smooth motion-reduce:scroll-auto">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.svg?v=2" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>T & T Photography</title>
    <ViewTransitions />
  </head>

  <body class="font-roboto">
    <main>
      <slot />
    </main>
  </body>
</html>
